.profile_img {
    width: 150px;
  height: 150px;
  border-radius: 50%;  
  object-fit: cover;  
  border: 3px solid #000000;
}

.profile-container {
  display: flex;          
  align-items: center;    
  gap: 20px;              
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

nav a {
  color: white;    
  text-decoration: none; 
  font-weight: bold;  
  padding: 5px 10px;  
}

nav a:hover {
  color: #f0f0f0;  
  text-decoration: underline;
}

nav li {
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
}

body {
    background: linear-gradient(250deg, #2A4EC1 25%, #090033 100%);
}

.profile-container {
    /* background: linear-gradient(250deg, #00C0E9 25%, #FF49C5 100%); */
    background-color: #f8f9fa;
    
}

